* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.2;
}

#wrapper {
  margin: auto;
}

#contact-us {
  width: min(85%, 60rem);
  display: flex;
  margin: 2rem auto;
  position: relative;
  border: white 2px solid;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.59);
  border-radius: 10px 0px 10px 0px;
  border: 5px solid white;
  padding: 1rem;

  .info-div{
    display: flex;
    margin: 0.5rem;
    /* padding: 0.5rem; */

    img{
      display: inline;
      width: 20px;
    }
  }

  #staff-members{
    margin: 2rem auto 0 auto;
    /* border: 5px solid rgb(255, 0, 0); */
    /* width: 40rem; */
    /* display: grid; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

      .staff-info {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        /* border: 2px solid black; */
        /* background: wheat; */
        img {
          border-radius: 5%;
          width: 50%;
          /* height: 50%; */
          border: 2px solid black;
          margin: auto;
        }

        .staff-name{
          margin: auto;
        }
      }
  }

}

#contact-us::before {
  content: "";
  position: absolute;
  display: block;
  top: -15px;
  bottom: -15px;
  right: -15px;
  left: -15px;
  /* background-color: var(--black); */
  border: 5px solid white;
  border-radius: 15px 0px 15px 0px;
}
