:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --mainFontColor: rgb(0, 0, 0);
  --navFontColor: rgb(0, 0, 0);
}

@font-face {
  font-family: "UVN-Co-dien";
  src: url("../fonts/UVN-Co-dien/UVN\ Co\ Dien\ Bold.woff2"),
    url("../fonts/UVN-Co-dien/UVN\ Co\ Dien\ Bold.woff");
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2"),
    url("../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.2;
  background: #66524a;
}

#wrapper {
  margin: auto;
}

#main {
  width: min(85%, 60rem);
  color: var(--mainFontColor);
  position: relative;
  padding-bottom: 3rem;
  margin: 5rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.59);
  border-radius: 10px 0px 10px 0px;
  border: 5px solid var(--white);

  .staffImg {
    margin: auto;
    min-height: 9.375em;
    border: 0.3rem solid black;
    width: min(50rem, 85%);
    border-radius: 2%;
  }

  #name {
    margin-top: 1rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    text-align: center;

    #japName {
      font-size: 3rem;
    }

    #engName {
      font-size: 1.7rem;
      font-weight: bold;
    }
  }

  #about {
    width: min(90%, 50rem);
    text-align: center;
    margin: 2rem auto 0 auto;

    #description {
      text-align: center;
    }
  }
}

#main::before {
  content: "";
  position: absolute;
  display: block;
  top: -15px;
  bottom: -15px;
  right: -15px;
  left: -15px;
  /* background-color: var(--black); */
  border: 5px solid var(--white);
  border-radius: 15px 0px 15px 0px;
}
